{% extends 'base.html.twig' %}

{% block body %}

<form name="update_form" action="success_update" method="POST">
  <select name="id" id="id">
  <option value={{id}}>{{id}}</option>
  </select>
  Username: <input type="text" name="username" value="{{ username }}" required><br>
  Name: <input type="text" name="name" value="{{ name }}" required><br>
  E-mail: <input type="text" name="email" value="{{ mail }}" required><br>
  <label for="enable">Enable?</label>
  <select name="enable" id="enable">
    <option value="true" {% if username == 1 %}selected{% endif %}>Yes</option>
    <option value="false" {% if username != 1 %}selected{% endif %}>No</option>
  </select><br>
  Birthdate : <input type="date" name="birthdate" value="{{ birthdate }}" required><br>
  <input type="submit">
</form>

{% endblock %}