{% extends 'base.html.twig'%}
{% block body %}
<a href="/ex08">Back<a/>
<p>TABLE</p>
<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Name</th>
        <th>Enable</th>
        <th>Email</th>
        <th>Birthdate</th>
        <th>Action</th>
    </tr>
    {% for person in persons %}
    <tr>
        <td>{{ person["id"] }}</td>
        <td>{{ person["username"] }}</td>
        <td>{{ person["_name"] }}</td>
        <td>{% if person["_enable"] == 1 %} Yes {% else %} No {% endif %}</td>
        <td>{{ person["email"] }}</td>
        <td>{{ person["birthdate"] }}</td>
        <td><a href="/delete/{{person["id"]}}">Delete</a> <a href="/update_{{ person["id"] }}">Update</a></td>
        
    </tr>
    {% endfor %}
</table>
{% endblock %}
