{% extends 'base.html.twig' %}

{% block body %}

  {% if table %}
  <b>Table existe</b>

  <h3>TABLE PERSONS</h3>
  <a href="/add_column">Add column</a>
  <table style="border: solid;">
      <tr>
        {% for column in columns %}
          <th>{{column}}</th>
        {% endfor %}
      </tr>
      {% for person in persons %}
      <tr>
        {% for column in columns %}
          {% if column == '_enable' %}
          <td>{% if person["_enable"] == 1 %} Yes {% else %} No {% endif %}</td>
          {% else %}
          <td>{{person[column]}}</td>
          {% endif %}
        {% endfor %}
          
      </tr>
      {% endfor %}
  </table>
  <h1>Form - Add a field</h1>
  <form name="form_persons" action="success_insert" method="POST">
    {% for column in columns %}
      {% if column == 'person_id' %}
      {% elseif column == '_enable' %}
        <label>Enable?:</label>
        <select name="_enable" id="_enable">
          <option value="true" selected>Yes</option>
          <option value="false">No</option>
        </select><br>
      {% elseif column == 'birthdate' %}
        {{column}}: <input type="date" name="{{column}}" required><br>
      {% else %}
        {{column}}: <input type="text" name="{{column}}" required><br>
      {% endif %}
    {% endfor %}
    <input type="submit">
  </form>

  <h1>Form - Filter/Sort</h1>
  <form name="filter_sort_form" action="success_filter" method="POST">
  <label>Filter by:</label>
  <select name="filter" id="filter">
    <option value="person_id" selected>person_id</option>
    <option value="username">username</option>
    <option value="_name">name</option>
    <option value="email">email</option>
    <option value="_enable">enable</option>
    <option value="birthdate">birthdate</option>
    <option value="address">address</option>
    <option value="bank_account_num">bank_account_num</option>
  </select>
  <input type="text" name="filter_name" required></input>
  <br>
  <label>Sort by:</label>
  <select name="sort" id="sort">
    <option value="increase" selected>Ordre croissant</option>
    <option value="decrease">Ordre décroissant</option>
  </select><br>
  <input type="submit">

  </form>



  {% else %}
  <b>Table n'existe pas</b>

  <button><a href="/create_table">Create table Persons</a></button>

  {% endif %}

  </div>
</div>

{% endblock %}