{% extends 'base.html.twig'%}
{% block body %}
<a href="/ex06">back to form<a/>
<p>TABLE</p>
<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Name</th>
        <th>Enable</th>
        <th>Email</th>
        <th>Birthdate</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user["id"] }}</td>
        <td>{{ user["username"] }}</td>
        <td>{{ user["_name"] }}</td>
        <td>{% if user["_enable"] == 1 %} Yes {% else %} No {% endif %}</td>
        <td>{{ user["email"] }}</td>
        <td>{{ user["birthdate"] }}</td>
        <td>{{ user["_address"] }}</td>
        <td><a href="/delete/{{user["id"]}}">Delete</a> <a href="/update_{{ user["id"] }}">Update</a></td>
        
    </tr>
    {% endfor %}
</table>
{% endblock %}
