{% extends 'base.html.twig'%}
{% block body %}


<h1>TABLE EMPLOYEES</h1>
<table>
    <tr>
    {% for column in columns %}
        <th>{{column}}</th>
      {% endfor %}
      <th>superieur_id</th>
      <th>Action</th>
    </tr>
    {% for employee in employees %}
    <tr>
    {% for column in columns %}
        {% if column == 'birthdate' %}
          <td>{{ employee.getBirthdate()|date('Y-m-d')}}</td>
        {% elseif column == 'enable'%}
          <td>{{ employee.isActive() == 1 ? "Yes" : "No" }}</td>
        {% elseif column == 'employed_since'%}
          <td>{{ employee.getEmployedUntil()|date('Y-m-d')}}</td>
        {% elseif column == 'employed_until'%}
          <td>{{ employee.getEmployedSince()|date('Y-m-d')}}</td>
        {% elseif column == 'employed_until'%}
          <td>{{ employee.getEmployedSince()|date('Y-m-d')}}</td>
        {% else %}
          <td>{{ attribute(employee, column)}}</td>
        {% endif %}

    {% endfor %}
      {% if employee.getSuperieur() %}
        <td>{{ employee.getSuperieur().getId() }}</td>
    {% else %}
        <td>No supervisor</td>
    {% endif %}
        <td><a href="/delete/{{ employee.getId() }}">Delete</a> <a href="/update/{{ employee.getId() }}">Update</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
