{% extends 'base.html.twig'%}
{% block body %}

<h1>TABLE INFORMATIONS</h1>
<table>
    <tr>
      <th>id</th>
      <th>username</th>
      <th>name</th>
      <th>age</th>
      <th>email</th>
    </tr>
    {% for email in emails %}
    <tr>
      <td>{{ email.id}}</td>
      <td>{{ email.username}}</td>
      <td>{{ email.name}}</td>
      <td>{{ email.age}}</td>
      <td>{{ email.email.email}}</td>
    </tr>
      {% endfor %}

</table>

{% endblock %}