{% extends 'base.html.twig'%}
{% block body %}


<h1>TABLE PERSON</h1>
<table>
    <tr>
    {% for column in columns %}
        <th>{{column}}</th>
      {% endfor %}
    </tr>
    {% for person in persons %}
    <tr>
    {% for column in columns %}
        {% if column == 'birthdate'%}
          <td>{{ person.getBirthdate()|date('Y-m-d')}}</td>
        {% elseif column == 'enable'%}
          <td>{{ person.isEnable() == 1 ? "Yes" : "No" }}</td>
        {% else %}
          <td>{{ attribute(person, column)}}</td>
        {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}
</table>

<h1>TABLE BANK ACCOUNT</h1>
<table>
    <tr>
    {% for column in columns_bank %}
        <th>{{column}}</th>
      {% endfor %}
    </tr>
    {% for bank_account in bank_accounts %}
    <tr>
    {% for column in columns_bank %}
        <td>{{ attribute(bank_account, column)}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>

<h1>TABLE ADDRESS</h1>
<table>
    <tr>
    {% for column in columns_address %}
        <th>{{column}}</th>
      {% endfor %}
    </tr>
    {% for address in addresses %}
    <tr>
    {% for column in columns_address %}
        <td>{{ attribute(address, column)}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>

{{ form(person) }}

{% endblock %}
