{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <h1>Post {{id}}</h1>
        <div style="border-style: solid; border-width: 1px; border-radius: 15px; border-color: black;">
            <h2>{{post.getTitle()}}</h2></a>
            <p>{{post.getContent()}}</p>
            <h4>{{post.getCreated()}}</h4>
            <h4>{{post.getAuthor().getEmail()}}</h4>
        </div>
{% endblock %}