{% extends 'base.html.twig'%}
{% block body %}


{# <h1>TABLE PERSON</h1>
<table>
    <tr>
    {% for column in columns %}
        <th>{{column}}</th>
      {% endfor %}
    </tr>
    {% for person in persons %}
    <tr>
    {% for column in columns %}
        {% if column == 'birthdate'%}
          <td>{{ person.getBirthdate()|date('Y-m-d')}}</td>
        {% elseif column == 'enable'%}
          <td>{{ person.isEnable() == 1 ? "Yes" : "No" }}</td>
        {% else %}
          <td>{{ attribute(person, column)}}</td>
        {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}
</table> #}

{{ form(employee) }}

{% endblock %}
