{% extends 'base.html.twig'%}
{% block body %}
<a href="/ex07">back to form<a/>
<p>TABLE</p>
<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Name</th>
        <th>Mail</th>
        <th>Enable</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.getId() }}</td>
        <td>{{ user.getUsername() }}</td>
        <td>{{ user.getName() }}</td>
        <td>{{ user.getEmail() }}</td>
        <td>{{ user.isEnable() == 1 ? "Yes" : "No" }}</td>
        <td><a href="/delete/{{ user.getId() }}">Delete</a> <a href="/update/{{ user.getId() }}">Update</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
