{% extends 'base.html.twig' %}

{% block body %}

<div style="display: flex; margin-top: 20">

  <div id="table-1" style="margin-right: 30">
  {% if table %}

  <h3>TABLE PERSONS</h3>
  <table>
      <tr>
        {% for column in columns %}
          <th>{{column}}</th>
        {% endfor %}
          <th>Action</th>
      </tr>
      {% for person in persons %}
      <tr>
        {% for column in columns %}
          {% if column == '_enable' %}
          <td>{% if person["_enable"] == 1 %} Yes {% else %} No {% endif %}</td>
          {% else %}
          <td>{{person[column]}}</td>
          {% endif %}
        {% endfor %}
          <td><a href="/delete/{{person["id"]}}">Delete</a> <a href="/update_{{ person["id"] }}">Update</a> <a href="/add_column">Add column</a></td>
          
      </tr>
      {% endfor %}
  </table>

  <form name="ex08_form1" action="success_insert" method="POST">
    {% for column in columns %}
      {% if column == '_enable' %}
        <label>Enable?:</label>
        <select name="enable" id="enable">
          <option value="true" selected>Yes</option>
          <option value="false">No</option>
        </select><br>
      {% elseif column == 'birthdate' %}
        {{column}}: <input type="date" name="{{column}}" required><br>
      {% else %}
        {{column}}: <input type="text" name="{{column}}" required><br>
      {% endif %}
    {% endfor %}
    <input type="submit">
  </form>

  {% else %}

  <button><a href="/create_table">Create table Persons</a></button>

  {% endif %}

  </div>

  {# <div id="table-2" style="margin-right: 30">
  <h3>TABLE BANK_ACCOUNTS</h3>
  <table>
      <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Name</th>
          <th>Enable</th>
          <th>Email</th>
          <th>Birthdate</th>
          <th>Action</th>
      </tr>
      {% for bamk_account in bamk_accounts %}
      <tr>
          <td>{{ person["id"] }}</td>
          <td>{{ person["username"] }}</td>
          <td>{{ person["_name"] }}</td>
          <td>{% if person["_enable"] == 1 %} Yes {% else %} No {% endif %}</td>
          <td>{{ person["email"] }}</td>
          <td>{{ person["birthdate"] }}</td>
          <td><a href="/delete/{{person["id"]}}">Delete</a> <a href="/update_{{ person["id"] }}">Update</a></td>
          
      </tr>
      {% endfor %}
    </table>
  </div>

  <div id="table-3" style="margin-right: 30">
  <h3>TABLE ADDRESSES</h3>
  <table>
      <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Name</th>
          <th>Enable</th>
          <th>Email</th>
          <th>Birthdate</th>
          <th>Action</th>
      </tr>
      {% for address in addresses %}
      <tr>
          <td>{{ person["id"] }}</td>
          <td>{{ person["username"] }}</td>
          <td>{{ person["_name"] }}</td>
          <td>{% if person["_enable"] == 1 %} Yes {% else %} No {% endif %}</td>
          <td>{{ person["email"] }}</td>
          <td>{{ person["birthdate"] }}</td>
          <td><a href="/delete/{{person["id"]}}">Delete</a> <a href="/update_{{ person["id"] }}">Update</a></td>
          
      </tr>
      {% endfor %}
    </table>
  </div> #}
</div>

{% endblock %}