{% extends 'base.html.twig' %}

{% block body %}
    <table  style="border: solid;">
        <thead>
            <tr>
                <td>black</td>
                <td>red</td>
                <td>blue</td>
                <td>green</td>
            </tr>
        </thead>
        <tbody>
            {% for i in 1..nb_of_colors %}
                <tr>
                    <td style="background-color: rgb({{black * i}}, {{black * i}}, {{black * i}})"></td>
                    <td style="background-color: rgb({{red * i}}, {{i}}, {{i}})"></td>
                    <td style="background-color: rgb({{i}}, {{i}}, {{blue * i}})"></td>
                    <td style="background-color: rgb({{i}}, {{green * i}}, {{i}})"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}